.header {
    position: relative;
    width: 100%;
    &__btn {
        @media (max-width: 1020px) {
            display: none;
        }
    }
}

.nav {
    position: absolute;
    left: 0;
    right: 0;
    padding-right: 15px;
    padding: 15px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    color: $white;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1200px) {
        
    }
}

.logo {
    color: $white;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background-color: $orange;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        bottom: +5px;
        right: -20px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 605px;
    width: 100%;
    @media (max-width: 1020px) {
        margin-left: 50px;
    }
    @media (max-width: 768px) {
        position: absolute;
        top: 70px;
        margin: 0;
        max-width: 100%;
        display: none;
    }

    a {
        display: block;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
    }
}

.tel {
    font-size: 20px;
    color: $white;

    span {
        color: #b2b2b2;
    }
    @media (max-width: 1200px) {
        display: none;
    }
}

.burger {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.show {
    display: block;
    background: $fiolet;
    a {
        display: block;
        color: #fff;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }
}