// Универсальньые классы

// Заголовки
.h-2 {
	font-size: 32px;
	font-weight: 700;
}

.h-3 {
	font-size: 14px;
	font-weight: 500;
}

// Выравнивание текста
.tac {
	text-align: center;
}

.red {
	color: #ff3d00;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.3s ease;

	&:hover,
	&:focus {
		color: rgba(255, 60, 0, 0.699);
	}
}

//  Mobile First
$m576: 576px;
$m768: 768px;
$m992: 992px;
$m1200: 1200px;

