.service {
    &__item {
        display: flex;
        flex-direction: row;
        padding: 34px 0;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        &>* {
            width: 48%;
            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
            }
        }
        &--reverse {
            flex-direction: row-reverse;
        }

    }

    &__title {
        margin-bottom: 17px;
    }
    &__text {
        margin-bottom: 16px;
    }

    &__image {
        @media (max-width: 768px) {
            width: auto;
            margin: auto;
            margin-bottom: 30px;
        }
    }
}