/* START SIZE CALC */
/* BASE */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* BODY */
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1;
  background-color: #f2f2f2;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 15px 14px #dcdcdc;
          box-shadow: 1px 1px 15px 14px #dcdcdc;
}

/* LINKS */
a {
  text-decoration: none;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: #000000;
}

/* IMG */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 998px;
  margin: auto;
}

.h-2 {
  font-size: 32px;
  font-weight: 700;
}

.h-3 {
  font-size: 14px;
  font-weight: 500;
}

.tac {
  text-align: center;
}

.red {
  color: #ff3d00;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.red:hover, .red:focus {
  color: rgba(255, 60, 0, 0.699);
}

.btn {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 20px;
}

.btn--fiolet {
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.16), 0 3px 5px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.16), 0 3px 5px 1px rgba(0, 0, 0, 0.24);
  background-color: #6200ea;
}

.btn--red {
  background-color: #ff3d00;
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.16), 0 3px 5px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.16), 0 3px 5px 1px rgba(0, 0, 0, 0.24);
}

.design {
  padding: 64px 0;
  background-color: #ededed;
}

.design__h-2 {
  margin-bottom: 40px;
}

.design__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  .design__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.design__list > * {
  width: 32%;
}

@media (max-width: 992px) {
  .design__list > * {
    width: 100%;
  }
}

.design__item {
  -webkit-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.16), 0 4px 6px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.16), 0 4px 6px 1px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 992px) {
  .design__item {
    margin-bottom: 30px;
  }
  .design__item:last-child {
    margin-bottom: 0;
  }
}

.design__content {
  padding: 10px;
  padding-left: 23px;
}

.design__title {
  margin-bottom: 16px;
}

.design__text {
  font-size: 13px;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 34px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

@media (max-width: 768px) {
  .service__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service__item > * {
  width: 48%;
}

@media (max-width: 768px) {
  .service__item > * {
    width: 100%;
    text-align: center;
  }
}

.service__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service__title {
  margin-bottom: 17px;
}

.service__text {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .service__image {
    width: auto;
    margin: auto;
    margin-bottom: 30px;
  }
}

.intro {
  padding: 277px 0 197px;
  background: url("/img/banner.jpg") no-repeat center/cover;
  color: #ffffff;
  text-align: center;
}

.intro-title {
  letter-spacing: 0.77px;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 700;
}

.intro-text {
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 0.8;
  font-size: 24px;
  margin-bottom: 39px;
}

.header {
  position: relative;
  width: 100%;
}

@media (max-width: 1020px) {
  .header__btn {
    display: none;
  }
}

.nav {
  position: absolute;
  left: 0;
  right: 0;
  padding-right: 15px;
  padding: 15px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.logo::after {
  position: absolute;
  content: '';
  background-color: #ff3d00;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: +5px;
  right: -20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 605px;
  width: 100%;
}

@media (max-width: 1020px) {
  .menu {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 70px;
    margin: 0;
    max-width: 100%;
    display: none;
  }
}

.menu a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

.tel {
  font-size: 20px;
  color: #ffffff;
}

.tel span {
  color: #b2b2b2;
}

@media (max-width: 1200px) {
  .tel {
    display: none;
  }
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.show {
  display: block;
  background: #6200ea;
}

.show a {
  display: block;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.team {
  padding-top: 64px;
  background-color: #5a00d6;
  color: #ffffff;
  position: relative;
  text-align: center;
  padding-bottom: 254px;
}

@media (max-width: 768px) {
  .team {
    padding-bottom: 0;
  }
}

.team__title {
  margin-bottom: 24px;
}

.team__text {
  max-width: 666px;
  margin: auto;
  margin-bottom: 31px;
}

.team__btn {
  max-width: 120px;
}

.team__mockup {
  position: absolute;
  bottom: -30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .team__mockup {
    position: static;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 30px;
  }
}

.work {
  padding: 64px 0;
  text-align: center;
  padding-top: 215px;
}

@media (max-width: 768px) {
  .work {
    padding-top: 60px;
  }
}

.work__h-2 {
  margin-bottom: 64px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__list > * {
  width: 22%;
}

@media (max-width: 768px) {
  .work__list > * {
    width: 48%;
  }
}

@media (max-width: 450px) {
  .work__list > * {
    width: 100%;
    max-width: 300px;
  }
}

.work__item {
  margin: 0;
}

@media (max-width: 768px) {
  .work__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .work__item {
    margin: auto;
    margin-bottom: 30px;
  }
}

.work__wrap {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-color: #ff3d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin: auto;
  margin-bottom: 23px;
}

.work__title {
  margin-bottom: 16px;
}

.work__text {
  line-height: 22px;
  opacity: 0.5;
}

.landing {
  text-align: center;
  padding: 64px 0;
  background-color: #ededed;
}

.landing__h-2 {
  margin-bottom: 23px;
}

.landing__text {
  max-width: 521px;
  margin: auto;
  margin-bottom: 40px;
}

.landing__list {
  max-width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.landing-item {
  max-width: 232px;
  overflow: hidden;
  margin: auto;
  position: relative;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .landing-item {
    max-width: 24%;
  }
}

@media (max-width: 740px) {
  .landing-item {
    max-width: 232px;
    margin-bottom: 30px;
  }
}

.landing-item:hover {
  -webkit-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.67);
          box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.67);
}

.landing-item__content {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.815);
  padding: 15px 20px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.landing-item__title {
  margin-bottom: 10px;
}

.landing-item__text {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  background-color: #212121;
  padding-top: 32px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__inner > * {
  width: 20%;
}

@media (max-width: 992px) {
  .footer__inner > * {
    width: 17%;
  }
}

@media (max-width: 768px) {
  .footer__inner > * {
    width: 100%;
    max-width: calc(100% / 3);
    margin-bottom: 30px;
  }
}

@media (max-width: 585px) {
  .footer__inner > * {
    max-width: calc(100% / 2);
  }
}

@media (max-width: 400px) {
  .footer__inner > * {
    max-width: 100%;
  }
}

.footer-menu a {
  color: inherit;
}

.footer__title {
  font-size: 11px;
  opacity: 0.4;
  font-weight: 500;
  margin-bottom: 15px;
}

.low__text {
  font-size: 12px;
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */